{{page-title "Cancel"}}
  <div class="ui grid">
    <div class="column two wide"></div>
    <div class="column twelve wide">
      <fieldset>
        <legend>&nbsp;Delete all&nbsp;</legend>
        <form class="ui form">
          <br>
          <h2 class="ui center aligned header dividing">Delete All Command N°{{ @model.id }}</h2>
          <br>

          <div class="ui grid">
            <div class="sixteen wide column" style="text-align: center">
              <button class="ui button red basicajax _connect floated" {{ action "deleteOrder" @model }}>Delete N°{{ @model.id }}</button>
              <br><br>
              <LinkTo class="ui button grey basic ajax _connect floated" @route="my-order.order">Close</LinkTo>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
{{outlet}}