{{page-title "AddProduit"}}
  <div class="ui grid">
    <div class="column two wide"></div>
    <div class="column twelve wide">
      <fieldset>
        <legend>&nbsp;Add a product&nbsp;</legend>
        <form class="ui form">
          <br>
          <h2 class="ui center aligned header dividing">Add Product</h2>
          <br>

          <div class="three fields">
            <div class="field"></div>
            <div class="field required">
              <label>Product name</label>
              <div class="ui input">
                <Input type="text" @value={{@model.name}} placeholder="Name" required/>
              </div>
            </div>
            <div class="field"></div>
          </div>

          <div class="three fields">
            <div class="field"></div>
            <div class="field required">
              <label>Product price</label>
              <div class="ui input">
                <Input type="number" @value={{@model.price}} placeholder="Price" required/>
              </div>
            </div>
            <div class="field"></div>
          </div>

          <div class="three fields">
            <div class="field"></div>
            <div class="field required">
              <label>Product promotion</label>
              <div class="ui input">
                <Input type="number" @value={{@model.promotion}} placeholder="Promotion" required/>
              </div>
            </div>
            <div class="field"></div>
          </div>

          <div class="three fields">
            <div class="field"></div>
            <div class="field">
              <label>Products pack</label>
              <UiDropdown class="selection multiple" @selected={{@model.packs}} @onChange={{fn (mut @model.packs)}} as |execute mapper|>
                <div class="default text">Packs</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each @model.products as |product|}}
                    <div data-value="{{map-value mapper product}}" class="item">
                      {{product.name}}
                    </div>
                  {{/each}}
                </div>
              </UiDropdown>
            </div>
            <div class="field"></div>
          </div>

          <div class="ui grid">
            <div class="six wide column"></div>
            <div class="ten wide column">
              <button class="ui button black ajax _connect floated" {{ action "addProduct" @model }} type="submit">Add Product ...</button>
              <LinkTo class="ui button grey basic ajax _connect floated" @route="list-product">Close</LinkTo>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
{{outlet}}