{{page-title "EditProduit"}}
  <div class="ui grid">
    <div class="column two wide"></div>
    <div class="column twelve wide">
      <fieldset>
        <legend>&nbsp;Edit a product&nbsp;</legend>
        <form class="ui form">
          <br>
          <h2 class="ui center aligned header dividing">Edit Product</h2>
          <br>

          <div class="three fields">
            <div class="field"></div>
            <div class="field required">
              <label>Product name</label>
              <div class="ui input">
                <Input type="text" @value={{@model.name}} placeholder="Name" required/>
              </div>
            </div>
            <div class="field"></div>
          </div>

          <div class="three fields">
            <div class="field"></div>
            <div class="field required">
              <label>Product price</label>
              <div class="ui input">
                <Input type="text" @value={{@model.price}} placeholder="Price" required/>
              </div>
            </div>
            <div class="field"></div>
          </div>

          <div class="three fields">
            <div class="field"></div>
            <div class="field required">
              <label>Product promotion</label>
              <div class="ui input">
                <Input type="text" @value={{@model.promotion}} placeholder="Promotion" required/>
              </div>
            </div>
            <div class="field"></div>
          </div>

          <div class="ui grid">
            <div class="six wide column"></div>
            <div class="ten wide column">
              <button class="ui button green basic ajax _connect floated" {{ action "editProduct" @model }} type="submit">Edit Product ...</button>
              <LinkTo class="ui button grey basic ajax _connect floated" @route="list-product">Close</LinkTo>
            </div>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
{{outlet}}