{{page-title "Section"}}
  <div style="text-align: right;">
    <button class="ui black button" {{action "board"}}>Board<i class="icon arrow right"></i></button>
  </div>

  <div class="ui grid">
    <div class="column two wide"></div>
    <div class="column twelve wide">
      <fieldset>
        <legend>&nbsp;Section management ({{@model.length}})&nbsp;</legend>
          <div class="item" style="text-align: center">
            <button {{ action 'newSection' }} class="ui vertical animated green button">
              <div class="hidden content">Add a new section ...</div>
              <div class="visible content">
                <i class="icon clipboard list"></i>New section
              </div>
            </button>

            <button {{action 'newProduct'}} class="ui vertical animated green button">
              <div class="hidden content">Add a new product ...</div>
              <div class="visible content">
                <i class="icon box"></i>New product
              </div>
            </button>
          </div>

          <br>

          <div class="item" style="text-align: center">
            <input style="text-align: center" type="search" placeholder="Selection filter"/>
          </div>

          <br>

          <div class="item">
            <h3>Section list</h3>
            <div class="ui celled list">
              {{#each @model as |section|}}
                <div class="item">
                  <div class="right floated content">
                    <LinkTo class="ui button" @route="list-product" {{action 'product' section}} @model={{section.id}}>&nbsp;&nbsp;&nbsp;<i class="icon bars"/></LinkTo>
                    &nbsp;
                    <LinkTo class="ui black button" @route="section.edit" @model={{section.id}}>&nbsp;&nbsp;&nbsp;<i class="icon edit"/></LinkTo>
                    &nbsp;
                    <LinkTo class="ui red button" @route="section.delete" {{action 'deleteSection' section}} @model={{section.id}}>&nbsp;&nbsp;&nbsp;<i class="icon remove"/></LinkTo>
                  </div>
                  <b>
                    <div style="font-size: larger">&nbsp;•&nbsp;{{section.name}}</div>
                  </b>
                </div>
              {{/each}}
            </div>
          </div>
      </fieldset>
    </div>
  </div>
{{outlet}}